@using HobbyCollectionsTracker.Components.Account

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="HobbyCollectionsTracker.styles.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    @* Global header *@
    <header class="hh-header">
        <div class="hh-header-left">
            <img src="https://i.pinimg.com/736x/28/dc/36/28dc36d443030e5222e4b39118f18d4e.jpg" alt="HobbyHub logo" class="hh-logo" />
            <h1 class="hh-title">HCT - Hobby Collections Tracker</h1>
        </div>

        <div class="hh-header-right">
            <LoginDisplay />
        </div>
    </header>

    <Routes />
    
    @* Global footer *@
    <footer class="hh-footer">
        <div class="hh-footer-content">
            <span>
                © @DateTime.Now.Year HTC - Hobby Collections Tracker
            </span>

            <span class="hh-footer-links">
                <a href="/feed">Feed</a>
                <a href="/posts/mine">My Post</a>
                @* Admin link will only work for admins, but it's fine to show here *@
                <a href="/categories">Categories (Admin)</a>
            </span>
        </div>
    </footer>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
