@using HobbyCollectionsTracker.Components.Layout  @* adjust if your folder/namespace differs *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="HobbyCollectionsTracker.styles.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.svg" />
    <script src="js/hct-theme.js"></script>
    <HeadOutlet />
</head>

<body>
    <Header />   @* our header component *@

    <Routes />

    <footer class="hh-footer">
        <div class="hh-footer-content">
            <span>
                © @DateTime.Now.Year HTC - Hobby Collections Tracker
            </span>

            <span class="hh-footer-links">
                <a href="/feed">Feed</a>
                <a href="/posts/mine">My Post</a>
                <a href="/categories">Categories (Admin)</a>
            </span>
        </div>
    </footer>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>