@using HobbyCollectionsTracker.Components.Account

<header class="hh-header">
  <div class="hh-header-left">
    <img src="https://i.pinimg.com/736x/14/5e/b8/145eb8cc48a52d8fa7005fdbd0cfe5aa.jpg" alt="HobbyHub logo" id="hh-logo" />
    <h1 class="hh-title">HCT - Hobby Collections Tracker</h1>
  </div>

  <div class="hh-header-right">
    <LoginDisplay />
  </div>
</header>