@using HobbyCollectionsTracker.Components.Account

<header class="hh-header">
  <div class="hh-header-left">
    <img src="" alt="HobbyHub logo" class="hh-logo" />
    <h1 class="hh-title">HCT - Hobby Collections Tracker</h1>
  </div>

  <div class="hh-header-right">
    <LoginDisplay />
  </div>
</header>