@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@implements IDisposable
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <span class="me-2 hh-header-hello">
            Hello, @context.User.Identity?.Name!
        </span>

        @* POST to the logout endpoint provided by Identity *@
        <form action="Account/Logout" method="post" class="d-inline">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <button type="submit" class="btn btn-outline-secondary hh-header-btn">
                Logout
            </button>
        </form>
    </Authorized>

    <NotAuthorized>
        <a href="Account/Login" class="btn hh-header-login">
            Login
        </a>
        <a href="Account/Register" class="btn btn-outline-secondary hh-header-btn ms-2">
            Register
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}