@inherits LayoutComponentBase
@using HobbyCollectionsTracker.Components.Account

<div class="page">

    <header class="hh-header">
        <div class="hh-header-left">
            <img src="images/logo.ico" alt="HobbyHub logo" class="hh-logo" />
            <h1 class="hh-title">HCT - Hobby Collections Tracker</h1>
        </div>

        <div class="hh-header-right">
            <LoginDisplay />
        </div>
    </header>

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
